<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Insurance Agency</title>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand
    <a class="navbar-brand" href="#">Student Management System</a>-->

    <!-- Toggler/collapsibe Button
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>-->

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" >Insurance Agency</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/userlist}">User List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/carInsurance}">Car Insurance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/offerlist}">Offer List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/add_city}">Add City</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/citylist}">City List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/add_car_brand}">Add Car Brand</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/carbrandlist}">Car Brand List</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Add City Data </h1>
            <div class = "card-body">
                <form action="#" th:action="@{/add_city}" th:object="${city}" method="post">
                    <div class ="form-group">
                        <label> City Name </label>
                        <input
                                type = "text"
                                name = "cityName"
                                th:field = "*{cityName}"
                                class = "form-control"
                                placeholder="Enter City Name"
                        />
                    </div>

                    <div class ="form-group">
                        <label> City Value </label>
                        <input
                                type = "text"
                                name = "cityValue"
                                th:field = "*{cityValue}"
                                class = "form-control"
                                placeholder="Enter City Value"
                        />
                        <p th:errors="*{cityValue}" class="text-danger"></p>
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Add
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>