<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Insurance Agency</title>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand
    <a class="navbar-brand" href="#">Student Management System</a>-->

    <!-- Toggler/collapsibe Button
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>-->

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/homePage}">Insurance Agency</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/userlist}">User List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/carInsurance}">Car Insurance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/apartmentInsurance}">Apartment Insurance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/offerlist}">Offer List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/citylist}">City List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/carbrandlist}">Car Brand List</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Get Offer for Apartment Insurance </h1>
            <div class = "card-body">
                <form action="#" th:action="@{/apartmentInsurance}" th:object="${apartment}" method="post">


                    <div class ="form-group">
                        <label> Owner of the Apartment  </label>
                        <select th:field="*{user}">
                            <option value=""> select owner </option>
                            <option th:each="user : ${userlist}"
                                    th:value="${user.id}"
                                    th:text="${user.identityNumber + ' - ' + user.name + ' ' + user.surname}"/>
                        </select>
                        <br>
                        <label> Not registered yet? </label>
                        <a th:href = "@{/register}" class = "btn btn-success">Register Now</a>
                    </div>

                    <div class ="form-group">
                        <label> Apartment City </label>
                        <select th:field="*{city}">
                            <option value=""> select user city </option>
                            <option th:each="city : ${citylist}"
                                    th:value="${city.id}"
                                    th:text="${city.cityName}"/>
                        </select>
                        <br>
                        <label> No City Data? </label>
                        <a th:href = "@{/add_city}" class = "btn btn-success">Add City</a>
                    </div>

                    <div class ="form-group">
                        <label> Apartment Area </label>
                        <input
                                type = "text"
                                name = "area"
                                th:field = "*{area}"
                                class = "form-control"
                                placeholder="Enter Apartment Area"
                        />
                        <p th:errors="*{area}" class="text-danger"></p>
                    </div>

                    <div class ="form-group">
                        <label> Apartment Floor </label>
                        <input
                                type = "text"
                                name = "floor"
                                th:field = "*{floor}"
                                class = "form-control"
                                placeholder="Enter Apartment Floor"
                        />
                        <p th:errors="*{floor}" class="text-danger"></p>
                    </div>

                    <div class ="form-group">
                        <label> Apartment Build Year </label>
                        <input
                                type = "text"
                                name = "yearBuild"
                                th:field = "*{yearBuild}"
                                class = "form-control"
                                placeholder="Enter Apartment Build Year"
                        />
                        <p th:errors="*{yearBuild}" class="text-danger"></p>
                    </div>

                    <div class ="form-group">
                        <label> Price </label>
                        <input
                                type = "text"
                                name = "price"
                                th:field = "*{price}"
                                class = "form-control"
                                placeholder="Enter Price "
                        />
                        <p th:errors="*{price}" class="text-danger"></p>
                    </div>

                    <div class ="form-group" th:object="${offer}">
                        <label> Insurance Start Date </label>
                        <input
                                type = "date"
                                name = "startDate"
                                th:field = "*{startDate}"
                                class = "form-control"
                        />
                        <p th:errors="*{startDate}" class="text-danger"></p>
                        <p th:if="${errorMessage}" th:text="${errorMessage}" class="text-danger"></p>
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>