<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Insurance Agency</title>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand
    <a class="navbar-brand" href="#">Student Management System</a>-->

    <!-- Toggler/collapsibe Button
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>-->

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" >Insurance Agency</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/userlist}">User List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/carInsurance}">Car Insurance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/offerlist}">Offer List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/add_city}">Add City</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/citylist}">City List</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Get Offer for Car Insurance </h1>
            <div class = "card-body">
                <form action="#" th:action="@{/carInsurance}" th:object="${car}" method="post">

                    <div class ="form-group">
                        <label> Owner of the Car  </label>
                        <select th:field="*{user}">
                            <option value=""> select owner </option>
                            <option th:each="user : ${userlist}"
                                    th:value="${user.id}"
                                    th:text="${user.identityNumber + ' - ' + user.name + ' ' + user.surname}"/>
                        </select>
                        <br>
                        <label> Not registered yet? </label>
                        <a th:href = "@{/register}" class = "btn btn-success">Register Now</a>
                    </div>

                    <div class ="form-group">
                        <label> User City </label>
                        <select th:field="*{city}">
                            <option value=""> select user city </option>
                            <option th:each="city : ${citylist}"
                                    th:value="${city.id}"
                                    th:text="${city.cityName}"/>
                        </select>
                        <br>
                        <label> No City Data? </label>
                        <a th:href = "@{/add_city}" class = "btn btn-success">Add City</a>
                    </div>

                    <div class ="form-group">
                        <label> Brand  </label>
                        <input
                                type = "text"
                                name = "brand"
                                th:field = "*{brand}"
                                class = "form-control"
                                placeholder="Enter Brand of the Car"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Plate Number </label>
                        <input
                                type = "text"
                                name = "plateNumber"
                                th:field = "*{plateNumber}"
                                class = "form-control"
                                placeholder="Enter Plate Number"
                        />
                    </div>

                    <div class ="form-group">
                        <label> License Serial Number </label>
                        <input
                                type = "text"
                                name = "licenseSerialNumber"
                                th:field = "*{licenseSerialNumber}"
                                class = "form-control"
                                placeholder="Enter License Serial Number"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Year Model </label>
                        <input
                                type = "text"
                                name = "yearModel"
                                th:field = "*{yearModel}"
                                class = "form-control"
                                placeholder="Enter Year Model "
                        />
                    </div>

                    <div class ="form-group">
                        <label> Price </label>
                        <input
                                type = "text"
                                name = "price"
                                th:field = "*{price}"
                                class = "form-control"
                                placeholder="Enter Price "
                        />
                    </div>
<!--
                    <div class ="form-group">
                        <label> Insurance Start Date </label>
                        <input
                                type = "date"
                                name = "startDate"
                                th:field = "*{offer.startDate}"
                                class = "form-control"
                                placeholder="Enter Price "
                        />
                    </div>

                    <div class ="form-group">
                        <label> Insurance End Date </label>
                        <input
                                type = "date"
                                name = "endDate"
                                th:field = "*{offer.endDate}"
                                class = "form-control"
                                placeholder="Enter Price "
                        />
                    </div>
-->

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>