<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>User List</title>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand
  <a class="navbar-brand" href="#">Student Management System</a>-->

  <!-- Toggler/collapsibe Button
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
  </button> -->

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" >Insurance Agency</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/register}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/userlist}">User List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/carInsurance}">Car Insurance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/offerlist}">Offer List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/add_city}">Add City</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/citylist}">City List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/add_car_brand}">Add Car Brand</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/carbrandlist}">Car Brand List</a>
      </li>
    </ul>
  </div>
</nav>
<br>

<div class="container">

  <h4>Owner Information: </h4>

  <table class="table table-bordered table-striped">

    <thead>
    <tr>
      <th>Name </th>
      <th>Surname </th>
      <th>Identity Number </th>
      <th>Identity Number </th>
      <th>Phone Number </th>
    </tr>
    </thead>
    <tbody>
      <td th:text="${car.user.name}" />
      <td th:text="${car.user.surname}" />
      <td th:text="${car.user.email}" />
      <td th:text="${car.user.identityNumber}" />
      <td th:text="${car.user.phoneNumber}" />
    </tbody>

  </table>
  <table class="table table-bordered table-striped">
    <h4>Car Information: </h4>
    <thead>
    <tr>
      <th>Plate Number </th>
      <th>License Serial Number </th>
      <th>Year Model</th>
      <th> Price </th>
    </tr>
    </thead>
    <tbody>
    <td th:text="${car.plateNumber}" />
    <td th:text="${car.licenseSerialNumber}" />
    <td th:text="${car.yearModel}" />
    <td th:text="${car.price}" />
    <!--
    <td>
         <a th:href = "@{/userlist/edit/{id}(id=${user.id})}" class = "btn btn-primary">Update</a>
         <a th:href="@{/userlist/{id}(id=${user.id})}" class="btn btn-danger ml-2">Delete</a>
    </td>
    -->
    </tbody>
  </table>

  <table class="table table-bordered table-striped">
    <h4>Car Insurance Offer: </h4>
    <thead>
    <tr>
      <th>Offer Price</th>
      <th>Offer Date </th>
      <th>Approved Date </th>
    </tr>
    </thead>
    <tbody>
      <td> <span th:text="${car.getOffer().offerPrice}" /> TL </td>
      <td th:text="${car.getOffer().getOfferDate()}" />
      <td th:text="${car.getOffer().getApprovedDate()}" />
      <td>
        <a th:href="@{/offerlist/approveTrue/{id} (id=${car.getOffer().id})}" class = "btn btn-primary" >Approve</a>
        <a th:href="@{/offerlist}" class="btn btn-danger ml-2">Cancel</a>
      </td>

    </tbody>

  </table>

</div>
</body>
</html>