<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>User List</title>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand
    <a class="navbar-brand" href="#">Student Management System</a>-->

    <!-- Toggler/collapsibe Button
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/homePage}">Insurance Agency</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/userlist}">User List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/carInsurance}">Car Insurance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/apartmentInsurance}">Apartment Insurance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/offerlist}">Offer List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/citylist}">City List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/carbrandlist}">Car Brand List</a>
            </li>
        </ul>
    </div>
</nav>
<br>

<div class="container">

    <h3>City List</h3>

    <hr/>
    <a th:href="@{/add_city}" class="btn btn-primary">Add City</a>
    <br/><br/>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>City Name </th>
            <th>Value </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="city: ${citylist}">
            <td th:text="${city.cityName}" />
            <td th:text="${city.cityValue}" />

            <td>
                <a th:href="@{/citylist/{id}(id=${city.id})}" class="btn btn-danger ml-2">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>