<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Insurance Agency</title>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/homePage}">Insurance Agency</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/userlist}">User List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/offerlist}">Offer List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/citylist}">City List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/countrylist}">Country List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/carbrandlist}">Car Brand List</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Register New User </h1>
            <div class = "card-body">
                <form action="#" th:action="@{/register}" th:object="${user}" method="post">
                    <div class ="form-group">
                        <label> User Name </label>
                        <input
                                type = "text"
                                name = "name"
                                th:field = "*{name}"
                                class = "form-control"
                                placeholder="Enter User Name"
                        />
                        <p th:errors="*{name}" class="text-danger"></p>
                    </div>

                    <div class ="form-group">
                        <label> User Surname </label>
                        <input
                                type = "text"
                                name = "surname"
                                th:field = "*{surname}"
                                class = "form-control"
                                placeholder="Enter User Surname"
                        />
                        <p th:errors="*{surname}" class="text-danger"></p>
                    </div>
                    <div class ="form-group">
                        <label> User Birth Year </label>
                        <input
                                type = "text"
                                name = "birthYear"
                                th:field = "*{birthYear}"
                                class = "form-control"
                                placeholder="Enter User Birth Year"
                        />
                        <p th:errors="*{birthYear}" class="text-danger"></p>
                        <p th:if="${errorMessage}" th:text="${errorMessage}" class="text-danger"></p>
                    </div>

                    <div class ="form-group">
                        <label> User Email </label>
                        <input
                                type = "text"
                                name = "email"
                                th:field = "*{email}"
                                class = "form-control"
                                placeholder="Enter User Email"
                        />
                        <p th:errors="*{email}" class="text-danger"></p>
                    </div>

                    <div class ="form-group">
                        <label> User Identity Number </label>
                        <input
                                type = "text"
                                name = "identityNumber"
                                th:field = "*{identityNumber}"
                                class = "form-control"
                                placeholder="Enter User Identity Number"
                        />
                        <p th:errors="*{identityNumber}" class="text-danger"></p>
                    </div>

                    <div class ="form-group">
                        <label> User Phone Number </label>
                        <input
                                type = "text"
                                name = "phoneNumber"
                                th:field = "*{phoneNumber}"
                                class = "form-control"
                                placeholder="Enter User Phone Number"
                        />
                        <p th:errors="*{phoneNumber}" class="text-danger"></p>
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>