<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Insurance Agency</title>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/homePage}">Insurance Agency</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/userlist}">User List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/offerlist}">Offer List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/citylist}">City List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/countrylist}">Country List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/carbrandlist}">Car Brand List</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Get Offer for Travel Insurance </h1>
            <div class = "card-body">
                <form action="#" th:action="@{/travelInsurance}" th:object="${travel}" method="post">

                    <div class ="form-group">
                        <label> Owner of the Travel  </label>
                        <select th:field="*{user}">
                            <option value=""> select owner </option>
                            <option th:each="user : ${userlist}"
                                    th:value="${user.id}"
                                    th:text="${user.identityNumber + ' - ' + user.name + ' ' + user.surname}"/>
                        </select>
                        <br>
                        <label> Not registered yet? </label>
                        <a th:href = "@{/register}" class = "btn btn-success">Register Now</a>
                    </div>

                    <div class ="form-group">
                        <label> Travel Start Date </label>
                        <input
                                type = "date"
                                name = "startDate"
                                th:field = "*{startDate}"
                                class = "form-control"
                        />
                        <p th:errors="*{startDate}" class="text-danger"></p>
                        <p th:if="${errorMessage}" th:text="${errorMessage}" class="text-danger"></p>
                    </div>

                    <div class ="form-group">
                        <label> Day Number </label>
                        <input
                                type = "text"
                                name = "dayNumber"
                                th:field = "*{dayNumber}"
                                class = "form-control"
                                placeholder="Enter Day Number"
                        />
                        <p th:errors="*{dayNumber}" class="text-danger"></p>
                    </div>

                    <div class ="form-group">
                        <label> Average Distance by km's </label>
                        <input
                                type = "text"
                                name = "averageDistance"
                                th:field = "*{averageDistance}"
                                class = "form-control"
                                placeholder="Enter Average Distance by km's"
                        />
                        <p th:errors="*{averageDistance}" class="text-danger"></p>
                    </div>

                    <div class ="form-group">
                        <label> Destination Country </label>
                        <select th:field="*{country}">
                            <option value=""> select destination country  </option>
                            <option th:each="country : ${countrylist}"
                                    th:value="${country.id}"
                                    th:text="${country.countryName}"/>
                        </select>
                        <br>
                        <label> No Country Data? </label>
                        <a th:href = "@{/add_country}" class = "btn btn-success">Add Country</a>
                    </div>

                    <div class ="form-group" th:object="${offer}">
                        <label> Insurance Start Date </label>
                        <input
                                type = "date"
                                name = "startDate"
                                th:field = "*{startDate}"
                                class = "form-control"
                        />
                        <p th:errors="*{startDate}" class="text-danger"></p>
                        <p th:if="${errorMessage}" th:text="${errorMessage}" class="text-danger"></p>
                    </div>


                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>